name: Build ZMK Firmware

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout zmk-config
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y git wget xz-utils file cmake ninja-build python3 python3-pip

      - name: Install West
        run: |
          pip3 install west

      - name: Install Zephyr SDK
        run: |
          wget https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v0.16.5/zephyr-sdk-0.16.5_linux-x86_64.tar.xz
          tar xf zephyr-sdk-0.16.5_linux-x86_64.tar.xz
          sudo mv zephyr-sdk-0.16.5 /opt/zephyr-sdk
          /opt/zephyr-sdk/setup.sh -t all -c

      - name: Get ZMK source
        run: |
          git clone https://github.com/zmkfirmware/zmk.git --depth=1

      - name: Initialize West
        run: |
          west init -l zmk/app
          west update

      - name: Build firmware
        run: |
          west build -s zmk/app -b seeeduino_xiao_ble -- -DSHIELD=xiao60
          ls -R build

      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: build/zephyr/zmk.*
