name: Build ZMK Firmware

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout zmk-config
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y wget python3 python3-pip ninja-build git cmake

      - name: Get ZMK source
        run: |
          git clone https://github.com/zmkfirmware/zmk.git --depth=1

      - name: Initialize West
        run: |
          west init -l zmk/app
          west update

      - name: Build firmware
        run: |
          west build -s zmk/app -b seeeduino_xiao_ble -- -DSHIELD=xiao60
          ls -R build

      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: build/zephyr/zmk.*
