name: Build ZMK Firmware

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      # ZMKビルド環境を使用
      image: zmkfirmware/zmk-build-arm:stable

    steps:
      - name: Checkout User Config
        # あなたの設定ファイルが入っているリポジトリをダウンロード
        uses: actions/checkout@v4
        with:
          path: config_repo # ダウンロード先を 'config_repo' ディレクトリに指定

      - name: Clone ZMK Repo
        # ZMK本体のリポジトリをダウンロードし、作業ディレクトリをZMK本体に移動
        run: |
          git clone https://github.com/zmkfirmware/zmk.git zmk_repo
          cd zmk_repo
          west init -l app/
          west update

      - name: Build firmware
        # ZMKリポジトリ内 (zmk_repo) でビルドコマンドを実行
        # -DZMK_CONFIG であなたの設定ファイルがあるパスを指定
        run: |
          cd zmk_repo
          west build -s app -b seeeduino_xiao_ble -- \
          -DSHIELD=xiao60 \
          -DZMK_CONFIG=../config_repo/config

      - name: Upload firmware
        # ビルドされたファームウェア (zmk.uf2) をアーティファクトとしてアップロード
        uses: actions/upload-artifact@v4
        with:
          name: firmware_xiao60
          path: zmk_repo/build/zephyr/zmk.uf2